@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  justify-content: center;
  align-items: start;
  min-width: 30vw;
  min-height: 100vh;
  font-family: 'Manrope', sans-serif;
  background-color: #f9fafe;
}


